@import "tailwindcss";

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.fade-edges {
  mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}